vendor
composer.lock
.phpunit.result.cache
.phpunit.cache
.bashrc
.idea
.vscode/launch.json
*.bak
rumtime
phpunit.xml
phpstan.neon
.phpactor.json
docs/.vitepress/dist
docs/.vitepress/cache
docs/node_modules
src/web-tinker/node_modules