includes:
  # - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - phpstan-baseline.neon
parameters:
  level: 5
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
  excludePaths:
    - 'src/*/output/*'
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    -
      message: '#Undefined variable: \$this#'
      paths:
        - src/tinker/src/TinkerCaster.php
        - tests/*.php
    - '#Access to an undefined property FriendsOfHyperf\\Http\\Client\\Response::\$\w+\.#'
    - '#Function GuzzleHttp\\Psr7\\get_message_body_summary not found.#'
    - '#.*should either be compatible with ArrayAccess::offset\w+.*#'
    - '#Unsafe usage of new static\(\)\.#'
    - '#Constant BASE_PATH not found.#'
    - 
      message: '#Variable \$\w+ might not be defined#'
      paths:
        - src/pretty-console/src/resources/views/components/*.php
    - 
      message: '#Parameter \#2 \$mutators of method FriendsOfHyperf\\PrettyConsole\\View\\Components\\Component::mutate\(\) expects#'
      paths:
        - src/pretty-console/src/View/Components/*.php
    -
      message: '#Call to method \w+\(\) on an unknown class Elasticsearch\\Client.#'
      paths:
        - src/telescope-elasticsearch/*/*.php
    - 
      message: '#Else branch is unreachable because ternary operator condition is always true.#'
      paths:
        - src/telescope-elasticsearch/*/*.php
    - 
      message: '#.* has invalid return type Elasticsearch\\Client.#'
      paths:
        - src/telescope-elasticsearch/*/*.php
