parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Hyperf\\\\Database\\\\ConnectionInterface\\:\\:getPostProcessor\\(\\)\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Call to an undefined method Hyperf\\\\Database\\\\ConnectionInterface\\:\\:getQueryGrammar\\(\\)\\.$#"
			count: 2
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Call to function is_array\\(\\) with string will always evaluate to false\\.$#"
			count: 2
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Cannot call method getTable\\(\\) on string\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Model\\:\\:qualifyColumn\\(\\) should return string but returns array\\<string\\>\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Return type \\(FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\) of method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Model\\:\\:belongsTo\\(\\) should be compatible with return type \\(Hyperf\\\\Database\\\\Model\\\\Relations\\\\BelongsTo\\<Hyperf\\\\Database\\\\Model\\\\Model, \\$this\\(Hyperf\\\\Database\\\\Model\\\\Model\\)\\>\\) of method Hyperf\\\\Database\\\\Model\\\\Model\\:\\:belongsTo\\(\\)$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Return type \\(FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\) of method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Model\\:\\:newBelongsTo\\(\\) should be compatible with return type \\(Hyperf\\\\Database\\\\Model\\\\Relations\\\\BelongsTo\\<Hyperf\\\\Database\\\\Model\\\\Model, \\$this\\(Hyperf\\\\Database\\\\Model\\\\Model\\)\\>\\) of method Hyperf\\\\Database\\\\Model\\\\Model\\:\\:newBelongsTo\\(\\)$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Return type \\(FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\) of method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Model\\:\\:hasMany\\(\\) should be compatible with return type \\(Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasMany\\<Hyperf\\\\Database\\\\Model\\\\Model, \\$this\\(Hyperf\\\\Database\\\\Model\\\\Model\\)\\>\\) of method Hyperf\\\\Database\\\\Model\\\\Model\\:\\:hasMany\\(\\)$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Return type \\(FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\) of method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Model\\:\\:newHasMany\\(\\) should be compatible with return type \\(Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasMany\\<Hyperf\\\\Database\\\\Model\\\\Model, Hyperf\\\\Database\\\\Model\\\\Model\\>\\) of method Hyperf\\\\Database\\\\Model\\\\Model\\:\\:newHasMany\\(\\)$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Return type \\(FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasOne\\) of method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Model\\:\\:hasOne\\(\\) should be compatible with return type \\(Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasOne\\<Hyperf\\\\Database\\\\Model\\\\Model, \\$this\\(Hyperf\\\\Database\\\\Model\\\\Model\\)\\>\\) of method Hyperf\\\\Database\\\\Model\\\\Model\\:\\:hasOne\\(\\)$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Model.php

		-
			message: "#^Call to function is_array\\(\\) with string will always evaluate to false\\.$#"
			count: 9
			path: src/compoships/src/Database/Eloquent/Relations/BelongsTo.php

		-
			message: "#^Generic type Hyperf\\\\Database\\\\Model\\\\Relations\\\\BelongsTo\\<Hyperf\\\\Database\\\\Model\\\\Model\\> in PHPDoc tag @extends does not specify all template types of class Hyperf\\\\Database\\\\Model\\\\Relations\\\\BelongsTo\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/BelongsTo.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\:\\:getQualifiedForeignKey\\(\\) should return string but returns array\\<string\\>\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/BelongsTo.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\:\\:getRelationExistenceQuery\\(\\) should return Hyperf\\\\Database\\\\Model\\\\Builder but returns Hyperf\\\\Database\\\\Query\\\\Builder\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/BelongsTo.php

		-
			message: "#^Offset \\*NEVER\\* does not exist on string\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/BelongsTo.php

		-
			message: "#^Parameter \\#1 \\$column of method Hyperf\\\\Database\\\\Query\\\\Builder\\:\\:whereIn\\(\\) expects string, array\\<int\\<0, max\\>, string\\> given\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/BelongsTo.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, string given\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/BelongsTo.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/BelongsTo.php

		-
			message: "#^Call to an undefined method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<TRelatedModel of FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model\\>\\:\\:qualifyRelatedColumn\\(\\)\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Call to an undefined method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<TRelatedModel of FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model\\>\\:\\:qualifySubSelectColumn\\(\\)\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Call to an undefined static method Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasMany\\<TRelatedModel of FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model, Hyperf\\\\Database\\\\Model\\\\Model\\>\\:\\:addOneOfManyJoinSubQueryConstraints\\(\\)\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Call to function is_array\\(\\) with string will always evaluate to false\\.$#"
			count: 9
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Call to method getTable\\(\\) on an unknown class FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Generic type Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasMany\\<FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model\\> in PHPDoc tag @extends does not specify all template types of class Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasMany\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\:\\:getForeignKeyName\\(\\) should return string but returns array\\<string\\>\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\:\\:getQualifiedParentKeyName\\(\\) should return string but returns array\\<string\\>\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\:\\:getRelationExistenceQueryForSelfRelation\\(\\) should return Hyperf\\\\Database\\\\Model\\\\Builder but returns Hyperf\\\\Database\\\\Query\\\\Builder\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^PHPDoc tag @extends has invalid type FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^PHPDoc tag @template TRelatedModel for class FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany has invalid bound type FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Parameter \\$model of method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\:\\:save\\(\\) has invalid type FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Type FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model in generic type Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasMany\\<FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\Model\\> in PHPDoc tag @extends is not subtype of template type TRelatedModel of Hyperf\\\\Database\\\\Model\\\\Model of class Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasMany\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasMany.php

		-
			message: "#^Call to an undefined method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasOne\\<TRelatedModel of Hyperf\\\\Database\\\\Model\\\\Model\\>\\:\\:qualifyRelatedColumn\\(\\)\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Call to an undefined method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasOne\\<TRelatedModel of Hyperf\\\\Database\\\\Model\\\\Model\\>\\:\\:qualifySubSelectColumn\\(\\)\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Call to an undefined static method Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasOne\\<TRelatedModel of Hyperf\\\\Database\\\\Model\\\\Model, Hyperf\\\\Database\\\\Model\\\\Model\\>\\:\\:addOneOfManyJoinSubQueryConstraints\\(\\)\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Call to function is_array\\(\\) with string will always evaluate to false\\.$#"
			count: 11
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Generic type Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasOne\\<Hyperf\\\\Database\\\\Model\\\\Model\\> in PHPDoc tag @extends does not specify all template types of class Hyperf\\\\Database\\\\Model\\\\Relations\\\\HasOne\\: TRelatedModel, TDeclaringModel$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasOne\\:\\:getDefaultFor\\(\\) should return Hyperf\\\\Database\\\\Model\\\\Model\\|null but empty return statement found\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasOne\\:\\:getForeignKeyName\\(\\) should return string but returns array\\<string\\>\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasOne\\:\\:getQualifiedParentKeyName\\(\\) should return string but returns array\\<string\\>\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Method FriendsOfHyperf\\\\Compoships\\\\Database\\\\Eloquent\\\\Relations\\\\HasOne\\:\\:getRelationExistenceQueryForSelfRelation\\(\\) should return Hyperf\\\\Database\\\\Model\\\\Builder but returns Hyperf\\\\Database\\\\Query\\\\Builder\\.$#"
			count: 1
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Offset \\*NEVER\\* does not exist on string\\.$#"
			count: 2
			path: src/compoships/src/Database/Eloquent/Relations/HasOne.php

		-
			message: "#^Call to function is_array\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: src/compoships/src/Database/Query/Builder.php

		-
			message: "#^Call to function is_array\\(\\) with string\\|null will always evaluate to false\\.$#"
			count: 1
			path: src/compoships/src/Database/Query/Builder.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/compoships/src/Database/Query/Builder.php

		-
			message: "#^Method FriendsOfHyperf\\\\Http\\\\Client\\\\PendingRequest\\:\\:runBeforeSendingCallbacks\\(\\) has invalid return type GuzzleHttp\\\\Psr7\\\\RequestInterface\\.$#"
			count: 1
			path: src/http-client/src/PendingRequest.php

		-
			message: "#^Method FriendsOfHyperf\\\\Http\\\\Client\\\\PendingRequest\\:\\:send\\(\\) should return FriendsOfHyperf\\\\Http\\\\Client\\\\Response but returns GuzzleHttp\\\\Promise\\\\PromiseInterface\\.$#"
			count: 1
			path: src/http-client/src/PendingRequest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/http-client/src/PendingRequest.php

		-
			message: "#^Parameter \\$request of method FriendsOfHyperf\\\\Http\\\\Client\\\\PendingRequest\\:\\:runBeforeSendingCallbacks\\(\\) has invalid type GuzzleHttp\\\\Psr7\\\\RequestInterface\\.$#"
			count: 1
			path: src/http-client/src/PendingRequest.php

		-
			message: "#^Property FriendsOfHyperf\\\\Http\\\\Client\\\\PendingRequest\\:\\:\\$pendingBody \\(string\\) does not accept null\\.$#"
			count: 1
			path: src/http-client/src/PendingRequest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 3
			path: src/http-client/src/PendingRequest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/http-client/src/PendingRequest.php

		-
			message: "#^Method FriendsOfHyperf\\\\Http\\\\Client\\\\Response\\:\\:toException\\(\\) should return FriendsOfHyperf\\\\Http\\\\Client\\\\RequestException\\|null but return statement is missing\\.$#"
			count: 1
			path: src/http-client/src/Response.php

		-
			message: "#^Property FriendsOfHyperf\\\\Http\\\\Client\\\\Response\\:\\:\\$response \\(Psr\\\\Http\\\\Message\\\\ResponseInterface\\) does not accept Psr\\\\Http\\\\Message\\\\MessageInterface\\.$#"
			count: 1
			path: src/http-client/src/Response.php

		-
			message: "#^Property FriendsOfHyperf\\\\Http\\\\Client\\\\ResponseSequence\\:\\:\\$emptyResponse \\(GuzzleHttp\\\\Promise\\\\PromiseInterface\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/http-client/src/ResponseSequence.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(ReflectionType\\)\\: mixed\\)\\|null, Closure\\(ReflectionNamedType\\)\\: string given\\.$#"
			count: 1
			path: src/ide-helper/src/Command/MacroCommand.php

		-
			message: "#^Method Hyperf\\\\Database\\\\Connection\\:\\:getDoctrineSchemaManager\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/ide-helper/src/Command/ModelCommand.php

		-
			message: "#^Constructor of class FriendsOfHyperf\\\\IdeHelper\\\\Method has an unused parameter \\$alias\\.$#"
			count: 1
			path: src/ide-helper/src/Method.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/ide-helper/src/Method.php

		-
			message: "#^Parameter \\#1 \\$method of method FriendsOfHyperf\\\\IdeHelper\\\\Method\\:\\:getParameters\\(\\) expects ReflectionMethod, ReflectionFunctionAbstract given\\.$#"
			count: 1
			path: src/ide-helper/src/Method.php

		-
			message: "#^Parameter \\#1 \\$method of method FriendsOfHyperf\\\\IdeHelper\\\\Method\\:\\:initClassDefinedProperties\\(\\) expects ReflectionMethod, ReflectionFunctionAbstract given\\.$#"
			count: 1
			path: src/ide-helper/src/Method.php

		-
			message: "#^Parameter \\#1 \\$method of method FriendsOfHyperf\\\\IdeHelper\\\\Method\\:\\:initPhpDoc\\(\\) expects ReflectionMethod, ReflectionFunctionAbstract given\\.$#"
			count: 1
			path: src/ide-helper/src/Method.php

		-
			message: "#^Parameter \\#1 \\$reflectionMethod of method FriendsOfHyperf\\\\IdeHelper\\\\Method\\:\\:getInheritDoc\\(\\) expects ReflectionMethod, ReflectionFunctionAbstract given\\.$#"
			count: 1
			path: src/ide-helper/src/Method.php
