name: tests

on: [push, pull_request]

jobs:
  ci:
    name: Test on PHP ${{ matrix.php-version }}
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest]
        php-version: ['7.3', '7.4', '8.0']
      max-parallel: 4
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: redis, pdo, pdo_mysql, bcmath, swoole
          tools: phpize
          coverage: none
      - name: Setup Packages
        run: composer update -o
      - name: Run Cs Fixer
        run: |
          if [ _${{ matrix.php-version }} = '_7.3' ]
          then
            echo "skip php-cs-fixer"
          else
            vendor/bin/php-cs-fixer fix src --dry-run
          fi
      - name: Run Analyse
        run: composer analyse src
      - name: Run Test Cases
        run: composer test