name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 2 * * *'

env:
  PHP_CS_FIXER_IGNORE_ENV: 1

jobs:
  ci:
    name: Test on PHP ${{ matrix.php }} with Swoole ${{ matrix.swoole }}
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-22.04]
        php: ['8.1', '8.2']
        swoole: ['5.0.3']
      max-parallel: 20
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Checkout Hyperf
        uses: actions/checkout@v3
        with:
          repository: hyperf/hyperf
          ref: '3.1'
          fetch-depth: 1
          path: hyperf-src
      - name: Setup Repositories
        run: |
          composer set repositories.hyperf path hyperf-src
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: redis, pdo, pdo_mysql, bcmath, swoole-${{ matrix.swoole }}
          tools: phpize
          coverage: none
      - name: Show Imformations
        run: |
          php -v
          php --ri swoole
      - name: Setup Packages
        run: composer update -o
      - name: Run Cs Fixer
        run: vendor/bin/php-cs-fixer fix src --dry-run
      - name: Run Analyse
        run: composer analyse src
      - name: Run Test Cases
        run: php vendor/bin/pest --parallel